/* Reset */
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  
}
/* Yellow bar */
.yellow-strip {
  height: 10px;
  background-color: #333;
}
/* Topnav container */
.topnav {
  background-color: #311102;
  display: flex;
  justify-content: center;
  position: relative;
  border-left-width: 100px;
  border-right-width: 100px;

}
/* Logo */
.logo img {
  height: 50px;
}
/* Cart */
.cart img {
  height: 40px;
}
/* Navigation links */
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  display: flex;
  gap: 20px;
}
.nav-links a:hover {
  background-color:   ;
  border-radius: 5px;
}
/* Main content rows */
.content-row {
  display: flex;
  padding: 40px 10%;
  gap: 40px;
  align-items: center;
  justify-content: center;
  max-width: 1202px;
}
.left-box img {

  border-radius: 10px;
  ;
}
.right-box, .left-box {
  flex: 1;
}
.right-box h2, .left-box h3, .right-box h3 {
  margin-bottom: 10px;
  text-align: center;
}
.right-box p, .left-box p {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
/* Middle brown bar */
.brown-bar {
  background-color: #311102;
  color: white;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
}
/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
.STAFF {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
.STAFF_TEXT {
  text-align: center;
  font-size: 20px;
  font-size: large;
  font-weight: bold;
}
.body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.donotremoveortopnavgobyebye {
  opacity: 0;
}



.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  padding: 1%;
}

.food-item {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #cfcfcf;
  width: 250px;
  height: 350px;
  
  margin: 50px;
}

.order-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color:  #311102;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #f9f9f9;
}

.order-button:hover {
  background-color: #ffaa00;
}

.foodtypebox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: #cfcfcf;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;

}

.burgerimage { 
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.menubar {
  height: 10px;
  width: 91%;
  background-color: #333;
}